@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    padding: 0px;
    margin: 0px;
    border: 0px;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 0px;
    background: radial-gradient(circle 800px at top left, #409af4bf, transparent 40%)
    , radial-gradient(circle 700px at bottom right , #40d3f4a4, transparent 40%)
    ,#C6DFFF;
    min-height: 100vh;
    height: auto;
    background-attachment: fixed;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    min-height: 100vh;
    width: 100%;
}
header{
    width: 85%;
    height: 25px;
    margin: 20px;
    background-color: #6e97f8b2;
    border-radius: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 20px 10px;
    align-items: center;
}
.logo{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    white-space: nowrap;
    width: 20%;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    text-transform: uppercase;
    font-size: 30px;
    margin: 5px;
}
nav{
    width: 70%;
    padding: 0px;
}
nav ul{
    margin: 10px 0px;
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    font-family: "Montserrat", sans-serif;
    font-weight: 550;
    font-size: 20px;
}
nav ul li{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    white-space: nowrap;
}
a{
    color: #1a3a8a;
    text-decoration: none;
    padding: 0.5rem 1rem;
    transform: translateY(0);
    transition: all 0.5s ease;
}
footer{
    margin-top: 20px;
    margin-bottom: 0px;
    width: 100%;
    background-color: #6f7e976f;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
footer .logo{
    font-size: 20px;
    width: 30%;
    margin: 5px 30px;
}
@media (max-width: 990px){
    header{
        width: 95%;
        margin: 10px 1px;
        padding: 10px 0px;
        justify-content: center;
        border-radius: 20px;
    }
    header .logo{
        width: auto;
    }
    header ul li{
        margin: 0px;
    }
    header ul li a{
        padding: 2px 5px;
    }
    footer{
        margin-top: 20px;
        margin-bottom: 0px;
    }
    footer p{
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 70%;
    }
}
/************************************* Home ************************************************/
.title{
    color: #1a3a8a;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    text-transform: uppercase;
}
#slogan{
    font-size: 40px; 
    font-weight: 900;
    margin: 40px auto;
}
#hook{
    margin-top: 10px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    color: #1a3a8a;
    font-family: "Montserrat", sans-serif;
    font-weight: 550;
    font-size: 25px;
}
#banners{
    margin: 20px;
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
.banner{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background: linear-gradient(180deg, #eef5fa 80%, #d4dde4 100%);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    width: 500px;
    min-height: 400px;
    padding: 10px;
    border-radius: 50px;
    transition-duration: 0.5s;
}
.banner h3{
    color: #1a3a8a;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    text-transform: uppercase;
    max-width: 90%;;
    font-size: 25px; 
}
.banner div{
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 10%;
    background-color: #1a3a8a;
    border-radius: 25px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}
.banner img{
    height: 60%;
    width: 90%;
    border-radius: 20px;
    margin: 10px auto;
}
.banner div a{
    color: white;
    font-family: "Montserrat", sans-serif;
    transition-duration: 1s;
    margin: 10px;
}
.banner:hover{
    translate: 0px -10px;
    scale: 1.1;

}
.banner div:hover{
    translate: 0px -5px;
    scale: 1.1;
}
nav ul li:hover{
    text-decoration: none;
    transform: translateY(-5px);
    scale: 1.1;
}
nav ul li a:hover{
    color: white;
}
div a:hover{
    transform: translateY(-5px);
    scale: 1.1;
}
@media (max-width:980px){
    #banners{
        display: flex;
        flex-direction: column !important;
        align-items: center;
    }
    .banner{
        margin: 20px;
        width: 80%;
    }
    #slogan{
        margin: 20px auto;
    }
}
/************************************************ My courses Page ****************************/
.courses-details{
    width: 90%;
    height: 500px;
}
.time-table{
    width: 90%;
    height: 500px;
    margin: 50px;
}
table .tcaption{
    font-size: 2rem; 
    font-weight: 700;
    margin: 35px auto;
}
table, tr, td{
    font-family: 'Tahoma';
    text-align: center;
    border:#021b55 solid 3px;
    border-collapse: collapse;
    padding: 10px;
}
th{
    background-color: #0a1f50b1;
    text-align: center;
    border: #021b55 solid 3px;
    border-collapse: collapse;
    padding: 10px;
    color: white;
}
tr:nth-child(odd){
    background-color: #e8e8e88e;
}

tr:hover{
    background-color: #021b5548;
    color: white;
}
@media (max-width: 980px){
    table{
        height: 800px;
    }
    .tcaption{
        margin: 50px;
    }
}

/******************************************* Add courses Page **********************************/
h2{
    margin: 5px auto;
    color: #1a3a8a;
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
    text-transform: uppercase;
    font-size: 30px; 
}
form{
    background: linear-gradient(180deg, #eef5fa 80%, #d4dde4 100%);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-wrap: wrap;
    border-radius: 30px;
    width: 70%;
}
form div{
    margin: 10px auto;
    width: 45%;
    padding: 10px;
    margin: 5px auto;
}
form .field{
    color: #1a3a8a;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
form label{
    margin: 10px 0px;
    font-family: "Montserrat", sans-serif;
    font-weight: 550;
    font-size: 1.2rem;
}
form .field input{
    font-family: "Montserrat", sans-serif;
    font-size: 1.1rem;
    color: #021b55;
    padding: 2px 5px;
    background-color: transparent;
    border: 2px solid #021b55;
    border-radius: 10px;
    height: 28px;
}
#buttons{
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
}
form .button{
    margin: 10px;
    width: 100px;
    height: 20px;
    background-color: #021b55;
    border-radius: 10px;
    color: #C6DFFF;
}
form .button:hover{
    scale: 1.1;
}
form ~ .banner{
    margin: 50px;
}
form ~ .banner div{
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 10%;
    background-color: #1a3a8a;
    border-radius: 25px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
} 
.banner div p{
    color: white;
    font-family: "Montserrat", sans-serif;
    transition-duration: 1s;
    margin: 10px;
}
form ~ .banner div:hover{
    background-color: #ff7088;
}
@media (max-width: 980px){
    form ~ .banner{
        width: 500px;
        height: 400px !important;
    }
    form{
        height: 600px;
    }
}
/*********************************************** Contact Us ************************************/
.contact-container{
    width: 70%;
    max-width: 600px;
    height: 300px;
    background: linear-gradient(180deg, #eef5fa 80%, #d4dde4 100%);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    border-radius: 50px;
    transition-duration: 0.5s;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.contact-container h3{
    color: #1a3a8a;
    font-family: "Poppins", sans-serif;
    font-weight: 650;
    font-style: normal;
    max-width: 90%;;
    font-size: 25px; 
}
.contact-container > p{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    color: #1a3a8a;
    font-family: "Montserrat", sans-serif;
    font-weight: 550;
    font-size: 20px;
}
.contact-details{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.contact-details a{
    margin: 10px auto;
    background-color: #021b55;
    height: 25px;
    width: min-content;
    border-radius: 20px;
    color: #dfecfe;
}
.contact-details p{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    color: #1a3a8a;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 1rem;
} 
